@import "tailwindcss";

@theme {
  --color-light: oklch(98% 0.016 73.684);
  --color-primary: oklch(70.5% 0.213 47.604);
  --color-accent: oklch(75% 0.183 55.934);
  --color-dark: oklch(13% 0.028 261.692);
}

body {
  color: var(--color-dark);
}
